name: CI
on: [pull_request]
jobs:
  tests:
    name: Math (PHP ${{ matrix.php-versions }} / Orchestra ${{ matrix.orchestra-versions }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '8.4', '8.3', '8.2', '8.1' ]
        orchestra-versions: [ '8.0', '9.0', '10.0' ]
        exclude:
          - php-versions: 8.1
            orchestra-versions: 9.0
          - php-versions: 8.1
            orchestra-versions: 10.0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, dom, fileinfo, gmp, bcmath

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Remove composer.lock
        run: rm -f composer.lock

      - name: Remove Pint
        run: composer remove "laravel/pint" --dev --no-update

      - name: Install Orchestra ${{ matrix.orchestra-versions }}
        run: composer require "orchestra/testbench:^${{ matrix.orchestra-versions }}" --dev --no-update

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Test with phpunit
        run: composer test
